
body {
    --keyboard-accent-color: #8C94FF;
    --keycap-background-hover: #8C94FF;
    --keycap-secondary-background: #8C94FF;
    --keycap-font-size: 24px;
    --keycap-shift-font-size: 14px;
    --keycap-small-font-size: 14px;
    --keycap-extra-small-font-size: 14px;
    --keyboard-toolbar-font-size: 24px;
}

math-field::part(menu-toggle) {
    display: none;
  }

.react-resizable-handle {
    display: none;
}

.react-resizable:hover > .react-resizable-handle {
    display: block;
}

.disable-interactions {
    pointer-events: none;
    opacity: 0.7;
}

.short-essay-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: auto;
    background-color: #f5f5f5;
}