.grid-input-notice-container > h3, p {
    margin: 0;
}

.grid-input-notice-container .grid-input-dim-input {
    width: min(120px, 19vw);
}

.grid-cell {
    height: 40px !important;
    width: min(120px, 19vw) !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-cell > * > *[mathquill-block-id] {
    height: 40px !important;
}

.matrix-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.matrix-bracket-left, .matrix-bracket-right {
    width: 6px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
}

.matrix-bracket-left {
    margin-right: 4px;
    border-left: 2px solid black;
}

.matrix-bracket-right {
    margin-left: 4px;
    border-right: 2px solid black;
}
