.App {
  text-align: center;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

a[type=menu] {
  color: #FFF;
}

a:hover[type=menu] {
  color: rgb(209, 209, 209)
}

a:link[type=menu] {
  text-decoration: none;
}

a:visited[type=menu] {
  text-decoration: none;
}
