body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  font-family: 'Titillium Web', 'sans-serif';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.revealable {
  opacity: 0.2;
}

.revealable.revealed {
  opacity: 1;
  transition: opacity 500ms ease;
}
